.footer {
    padding: 20px;
    background-color:#17181C;
    color: #17181C;
    width: 100%;
  }

  .footer__text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: #EAEBED;;
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
  }

  .redes__items {
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color:#EAEBED;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .redes__links {
    color: black;
  }

  @media screen and (min-width: 720px) {

    .footer {
      padding: 50px;
    }

    .footer__text{
      margin-bottom: 30px;
    }

  }