.accordion {
    margin-bottom: 20px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #cccc;
    padding: 0 30px;
    /* width: 100%; */
    width: 350px;
    color: #515151;
}

.accordion__plus-minus {
    font-size: 1.3rem;
}

.panel__item {
     padding: 0 10px;
     width: max-content;
     margin: 7px 0;
}

.panel__item:hover {
    color: orange;
    cursor: pointer;
    padding: 0 15px;
}

@media screen and (min-width: 720px) {

}