.inputSearch {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.inputSearch__input {
    border: 1px solid #ccc;
    flex: 1 1;
    font-size: .9rem;
    padding: 10px 14px;
    outline: none;
}

.inputSearch__icon {
    background-color: var(--bg-color-red);
    padding: 11px 10px;
    color: white;
}